alembic==1.7.5
click==8.0.3
django-environ==0.8.1
environ==1.0
Flask==2.0.2
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.27.0
pika==1.2.0
python-dotenv==0.19.2
six==1.16.0
SQLAlchemy==1.4.29
threaded==4.1.0
Werkzeug==2.0.2
